# Python distribution and packaging files
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Python cache files
__pycache__

# Virtual environment directories
venv~
venv~/*
venv

# Serverless framework directories
.serverless

# Environment variable files
.env
*.env
.env.staging
.env.local